#resultsPageContainer{
    background-color: lightgray;
    margin: 30px;
    align-content: center;
}

#LFWSearchParams{
    background-color: white;
}
#logInFooter{
    background-color: clear
    ;
  }
  #gitGiph{
    border-radius: 50%;
  }
  #indeedGiph{
    border-radius: 50%;
  }
  #usaGiph{
    border-radius: 50%;
  }
      