body {
      background-repeat: no-repeat;
      background-size: cover;
     
  }

  #LFWSearchParams{
      background-color: wheat;
  }
  #logInFooter{
    background-color: clear
    ;
  }
  #gitImg{
    border-radius: 50%;
  }
  #geoImg{
    border-radius: 50%;
  }
  #joogleImg{
    border-radius: 50%;
  }
      