body {
      background-repeat: no-repeat;
      background-size: cover;
     
  }

  #LFWSearchParams{
      background-color: wheat;
  }
  #logInFooter{
    background-color: clear
    ;
  }
  #gitGiph{
    border-radius: 50%;
  }
  #geoIpImg{
    border-radius: 50%;
  }
  #joobleImg{
    border-radius: 50%;
  }
      